In [1]:
#pip install numpy

In [2]:
#pip install pandas

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = np.arange (20)

In [5]:
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [6]:
data = np.arange(24).reshape(4,6)

In [7]:
data

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [8]:
data.ndim

2

In [9]:
type(data)

numpy.ndarray

In [10]:
#linsapce is used when you want to divide data into equal range. here 20, 10 are range while 5 shows hoe many equal parts you needed.
data2= np.linspace(20,10,8)

In [11]:
data2

array([20.        , 18.57142857, 17.14285714, 15.71428571, 14.28571429,
       12.85714286, 11.42857143, 10.        ])

In [12]:
#it will geenerate a random number
np.random.randint(10)

3

In [13]:
#data frame composed of : rows, coloumns and indexes . Two series combined together are dataframe
df=pd.DataFrame(data2)

In [14]:
df

           0
0  20.000000
1  18.571429
2  17.142857
3  15.714286
4  14.285714
5  12.857143
6  11.428571
7  10.000000

In [16]:

(data,index=['Row1','Row2']
coloumns=['Coloumn1', 'Coloumn2', 'Coloumn3', 'Coloumn4','Coloumn5'])

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (370815610.py, line 1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8 non-null      float64
dtypes: float64(1)
memory usage: 196.0 bytes

In [18]:
#descriptive summary for numerical data.
df.describe

<bound method NDFrame.describe of            0
0  20.000000
1  18.571429
2  17.142857
3  15.714286
4  14.285714
5  12.857143
6  11.428571
7  10.000000>

In [19]:
# important aspects head, tail, info, describe, datadrame, index

In [20]:
#if you know the ranges, you will fill with median, while not known then mean.

In [21]:
data3 = {
    'App': [f'App_{i}' for i in range(1, 31)],
    'Category': np.random.choice(['Game', 'Productivity', 'Health', 'Education'], 30),
    'Rating': np.random.uniform(1.0, 5.0, 30).round(1),
    'Reviews': np.random.randint(1, 10000, 30),
    'Size': np.random.choice(['Varies with device', '10M', '20M', '30M'], 30),
    'Installs': np.random.choice(['1,000+', '10,000+', '50,000+', '100,000+'], 30),
    'Type': np.random.choice(['Free', 'Paid'], 30),
    'Price': np.random.choice(['0', '0.99', '1.99', '2.99', '4.99', '5.99', '9.99'], 30),
    'Content Rating': np.random.choice(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+'], 30)
}

In [22]:
data3

{'App': ['App_1',
  'App_2',
  'App_3',
  'App_4',
  'App_5',
  'App_6',
  'App_7',
  'App_8',
  'App_9',
  'App_10',
  'App_11',
  'App_12',
  'App_13',
  'App_14',
  'App_15',
  'App_16',
  'App_17',
  'App_18',
  'App_19',
  'App_20',
  'App_21',
  'App_22',
  'App_23',
  'App_24',
  'App_25',
  'App_26',
  'App_27',
  'App_28',
  'App_29',
  'App_30'],
 'Category': array(['Game', 'Education', 'Game', 'Productivity', 'Health', 'Health',
        'Game', 'Game', 'Health', 'Education', 'Education', 'Game',
        'Education', 'Health', 'Education', 'Game', 'Productivity',
        'Health', 'Education', 'Education', 'Health', 'Education',
        'Health', 'Game', 'Productivity', 'Education', 'Game', 'Health',
        'Productivity', 'Productivity'], dtype='<U12'),
 'Rating': array([4.1, 4.9, 1.4, 1.1, 2.8, 4.6, 4.1, 4.3, 4.2, 2.1, 3.4, 3.1, 4.4,
        4.5, 3.6, 2. , 1. , 4.9, 2.8, 2.9, 1.5, 1.1, 1.6, 2.9, 1.6, 4.9,
        3.1, 3.7, 3.7, 2.3]),
 'Reviews': array([8706, 5838, 6650, 6437, 8063, 1889, 7867,  161, 1976, 8152,  257,
        7395, 2885, 4546, 6214, 9354, 2535, 2185, 7756,  663, 7506, 6615,
        4125,  498, 9816, 8908, 4734, 2916, 4177, 3968], dtype=int32),
 'Size': array(['30M', '30M', '10M', 'Varies with device', '20M', '30M',
        'Varies with device', 'Varies with device', '10M',
        'Varies with device', '30M', '20M', '30M', '10M', '20M', '10M',
        'Varies with device', '20M', '30M', '20M', '20M', '30M',
        'Varies with device', 'Varies with device', 'Varies with device',
        '20M', '10M', '20M', '10M', '30M'], dtype='<U18'),
 'Installs': array(['50,000+', '50,000+', '10,000+', '10,000+', '1,000+', '50,000+',
        '1,000+', '100,000+', '100,000+', '1,000+', '100,000+', '1,000+',
        '1,000+', '100,000+', '10,000+', '50,000+', '50,000+', '10,000+',
        '50,000+', '50,000+', '10,000+', '1,000+', '50,000+', '100,000+',
        '100,000+', '10,000+', '1,000+', '10,000+', '100,000+', '1,000+'],
       dtype='<U8'),
 'Type': array(['Paid', 'Paid', 'Free', 'Free', 'Paid', 'Free', 'Free', 'Free',
        'Free', 'Paid', 'Free', 'Paid', 'Paid', 'Paid', 'Free', 'Free',
        'Free', 'Paid', 'Free', 'Free', 'Paid', 'Paid', 'Paid', 'Paid',
        'Free', 'Free', 'Paid', 'Paid', 'Paid', 'Paid'], dtype='<U4'),
 'Price': array(['9.99', '5.99', '0', '2.99', '5.99', '5.99', '0', '2.99', '0.99',
        '5.99', '9.99', '4.99', '2.99', '4.99', '0', '5.99', '0', '1.99',
        '5.99', '0.99', '4.99', '2.99', '2.99', '4.99', '2.99', '1.99',
        '1.99', '0', '1.99', '9.99'], dtype='<U4'),
 'Content Rating': array(['Mature 17+', 'Teen', 'Teen', 'Mature 17+', 'Teen', 'Everyone 10+',
        'Mature 17+', 'Everyone', 'Mature 17+', 'Everyone', 'Mature 17+',
        'Everyone', 'Teen', 'Everyone', 'Everyone', 'Everyone', 'Teen',
        'Everyone', 'Everyone', 'Mature 17+', 'Everyone', 'Teen',
        'Everyone', 'Teen', 'Everyone 10+', 'Everyone 10+', 'Everyone',
        'Everyone', 'Everyone', 'Teen'], dtype='<U12')}

In [23]:
df1 = pd.DataFrame(data3)

In [24]:
df1

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,4.1,8706,30M,"50,000+",Paid,9.99,Mature 17+
1,App_2,Education,4.9,5838,30M,"50,000+",Paid,5.99,Teen
2,App_3,Game,1.4,6650,10M,"10,000+",Free,0,Teen
3,App_4,Productivity,1.1,6437,Varies with device,"10,000+",Free,2.99,Mature 17+
4,App_5,Health,2.8,8063,20M,"1,000+",Paid,5.99,Teen
5,App_6,Health,4.6,1889,30M,"50,000+",Free,5.99,Everyone 10+
6,App_7,Game,4.1,7867,Varies with device,"1,000+",Free,0,Mature 17+
7,App_8,Game,4.3,161,Varies with device,"100,000+",Free,2.99,Everyone
8,App_9,Health,4.2,1976,10M,"100,000+",Free,0.99,Mature 17+
9,App_10,Education,2.1,8152,Varies with device,"1,000+",Paid,5.99,Everyone
10,App_11,Education,3.4,257,30M,"100,000+",Free,9.99,Mature 17+
11,App_12,Game,3.1,7395,20M,"1,000+",Paid,4.99,Everyone
12,App_13,Education,4.4,2885,30M,"1,000+",Paid,2.99,Teen
13,App_14,Health,4.5,4546,10M,"100,000+",Paid,4.99,Everyone
14,App_15,Education,3.6,6214,20M,"10,000+",Free,0,Everyone
15,App_16,Game,2.0,9354,10M,"50,000+",Free,5.99,Everyone
16,App_17,Productivity,1.0,2535,Varies with device,"50,000+",Free,0,Teen
17,App_18,Health,4.9,2185,20M,"10,000+",Paid,1.99,Everyone
18,App_19,Education,2.8,7756,30M,"50,000+",Free,5.99,Everyone
19,App_20,Education,2.9,663,20M,"50,000+",Free,0.99,Mature 17+
20,App_21,Health,1.5,7506,20M,"10,000+",Paid,4.99,Everyone
21,App_22,Education,1.1,6615,30M,"1,000+",Paid,2.99,Teen
22,App_23,Health,1.6,4125,Varies with device,"50,000+",Paid,2.99,Everyone
23,App_24,Game,2.9,498,Varies with device,"100,000+",Paid,4.99,Teen
24,App_25,Productivity,1.6,9816,Varies with device,"100,000+",Free,2.99,Everyone 10+
25,App_26,Education,4.9,8908,20M,"10,000+",Free,1.99,Everyone 10+
26,App_27,Game,3.1,4734,10M,"1,000+",Paid,1.99,Everyone
27,App_28,Health,3.7,2916,20M,"10,000+",Paid,0,Everyone
28,App_29,Productivity,3.7,4177,10M,"100,000+",Paid,1.99,Everyone
29,App_30,Productivity,2.3,3968,30M,"1,000+",Paid,9.99,Teen

In [25]:
type(df1)

pandas.core.frame.DataFrame

In [26]:
type(df1.App)

pandas.core.series.Series

In [27]:
df1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,App_1,Game,4.1,8706,30M,"50,000+",Paid,9.99,Mature 17+
1,App_2,Education,4.9,5838,30M,"50,000+",Paid,5.99,Teen
2,App_3,Game,1.4,6650,10M,"10,000+",Free,0,Teen
3,App_4,Productivity,1.1,6437,Varies with device,"10,000+",Free,2.99,Mature 17+
4,App_5,Health,2.8,8063,20M,"1,000+",Paid,5.99,Teen

In [28]:
df1.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
25,App_26,Education,4.9,8908,20M,"10,000+",Free,1.99,Everyone 10+
26,App_27,Game,3.1,4734,10M,"1,000+",Paid,1.99,Everyone
27,App_28,Health,3.7,2916,20M,"10,000+",Paid,0,Everyone
28,App_29,Productivity,3.7,4177,10M,"100,000+",Paid,1.99,Everyone
29,App_30,Productivity,2.3,3968,30M,"1,000+",Paid,9.99,Teen

In [29]:
df1.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating'],
      dtype='object')

In [30]:
df1.shape

(30, 9)

In [31]:
#object is string 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             30 non-null     object
 1   Category        30 non-null     object
 2   Rating          30 non-null     float64
 3   Reviews         30 non-null     int32
 4   Size            30 non-null     object
 5   Installs        30 non-null     object
 6   Type            30 non-null     object
 7   Price           30 non-null     object
 8   Content Rating  30 non-null     object
dtypes: float64(1), int32(1), object(7)
memory usage: 2.1+ KB

In [32]:
df1.describe

<bound method NDFrame.describe of        App      Category  Rating  Reviews                Size  Installs  Type  \
0    App_1          Game     4.1     8706                 30M   50,000+  Paid
1    App_2     Education     4.9     5838                 30M   50,000+  Paid
2    App_3          Game     1.4     6650                 10M   10,000+  Free
3    App_4  Productivity     1.1     6437  Varies with device   10,000+  Free
4    App_5        Health     2.8     8063                 20M    1,000+  Paid
5    App_6        Health     4.6     1889                 30M   50,000+  Free
6    App_7          Game     4.1     7867  Varies with device    1,000+  Free
7    App_8          Game     4.3      161  Varies with device  100,000+  Free
8    App_9        Health     4.2     1976                 10M  100,000+  Free
9   App_10     Education     2.1     8152  Varies with device    1,000+  Paid
10  App_11     Education     3.4      257                 30M  100,000+  Free
11  App_12          Game     3.1     7395                 20M    1,000+  Paid
12  App_13     Education     4.4     2885                 30M    1,000+  Paid
13  App_14        Health     4.5     4546                 10M  100,000+  Paid
14  App_15     Education     3.6     6214                 20M   10,000+  Free
15  App_16          Game     2.0     9354                 10M   50,000+  Free
16  App_17  Productivity     1.0     2535  Varies with device   50,000+  Free
17  App_18        Health     4.9     2185                 20M   10,000+  Paid
18  App_19     Education     2.8     7756                 30M   50,000+  Free
19  App_20     Education     2.9      663                 20M   50,000+  Free
20  App_21        Health     1.5     7506                 20M   10,000+  Paid
21  App_22     Education     1.1     6615                 30M    1,000+  Paid
22  App_23        Health     1.6     4125  Varies with device   50,000+  Paid
23  App_24          Game     2.9      498  Varies with device  100,000+  Paid
24  App_25  Productivity     1.6     9816  Varies with device  100,000+  Free
25  App_26     Education     4.9     8908                 20M   10,000+  Free
26  App_27          Game     3.1     4734                 10M    1,000+  Paid
27  App_28        Health     3.7     2916                 20M   10,000+  Paid
28  App_29  Productivity     3.7     4177                 10M  100,000+  Paid
29  App_30  Productivity     2.3     3968                 30M    1,000+  Paid

   Price Content Rating
0   9.99     Mature 17+
1   5.99           Teen
2      0           Teen
3   2.99     Mature 17+
4   5.99           Teen
5   5.99   Everyone 10+
6      0     Mature 17+
7   2.99       Everyone
8   0.99     Mature 17+
9   5.99       Everyone
10  9.99     Mature 17+
11  4.99       Everyone
12  2.99           Teen
13  4.99       Everyone
14     0       Everyone
15  5.99       Everyone
16     0           Teen
17  1.99       Everyone
18  5.99       Everyone
19  0.99     Mature 17+
20  4.99       Everyone
21  2.99           Teen
22  2.99       Everyone
23  4.99           Teen
24  2.99   Everyone 10+
25  1.99   Everyone 10+
26  1.99       Everyone
27     0       Everyone
28  1.99       Everyone
29  9.99           Teen  >

In [33]:
#for multiple coloumns enter double sqaure brackets.
df1[['App', 'Price', 'Reviews']]

       App Price  Reviews
0    App_1  9.99     8706
1    App_2  5.99     5838
2    App_3     0     6650
3    App_4  2.99     6437
4    App_5  5.99     8063
5    App_6  5.99     1889
6    App_7     0     7867
7    App_8  2.99      161
8    App_9  0.99     1976
9   App_10  5.99     8152
10  App_11  9.99      257
11  App_12  4.99     7395
12  App_13  2.99     2885
13  App_14  4.99     4546
14  App_15     0     6214
15  App_16  5.99     9354
16  App_17     0     2535
17  App_18  1.99     2185
18  App_19  5.99     7756
19  App_20  0.99      663
20  App_21  4.99     7506
21  App_22  2.99     6615
22  App_23  2.99     4125
23  App_24  4.99      498
24  App_25  2.99     9816
25  App_26  1.99     8908
26  App_27  1.99     4734
27  App_28     0     2916
28  App_29  1.99     4177
29  App_30  9.99     3968

In [34]:
#to check classes in one variable
df1['Size'].unique()

array(['30M', '10M', 'Varies with device', '20M'], dtype=object)

In [35]:
df1['Price'].unique()

array(['9.99', '5.99', '0', '2.99', '0.99', '4.99', '1.99'], dtype=object)

In [36]:
df1.isnull()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False

In [37]:
df1.isnull().sum

<bound method DataFrame.sum of       App  Category  Rating  Reviews   Size  Installs   Type  Price  \
0   False     False   False    False  False     False  False  False
1   False     False   False    False  False     False  False  False
2   False     False   False    False  False     False  False  False
3   False     False   False    False  False     False  False  False
4   False     False   False    False  False     False  False  False
5   False     False   False    False  False     False  False  False
6   False     False   False    False  False     False  False  False
7   False     False   False    False  False     False  False  False
8   False     False   False    False  False     False  False  False
9   False     False   False    False  False     False  False  False
10  False     False   False    False  False     False  False  False
11  False     False   False    False  False     False  False  False
12  False     False   False    False  False     False  False  False
13  False     False   False    False  False     False  False  False
14  False     False   False    False  False     False  False  False
15  False     False   False    False  False     False  False  False
16  False     False   False    False  False     False  False  False
17  False     False   False    False  False     False  False  False
18  False     False   False    False  False     False  False  False
19  False     False   False    False  False     False  False  False
20  False     False   False    False  False     False  False  False
21  False     False   False    False  False     False  False  False
22  False     False   False    False  False     False  False  False
23  False     False   False    False  False     False  False  False
24  False     False   False    False  False     False  False  False
25  False     False   False    False  False     False  False  False
26  False     False   False    False  False     False  False  False
27  False     False   False    False  False     False  False  False
28  False     False   False    False  False     False  False  False
29  False     False   False    False  False     False  False  False

    Content Rating
0            False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False  >

In [38]:
df1.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
dtype: int64

## Data Cleansing

In [39]:
df1['Price'] = df1['Price'].replace('Free', '0')

In [40]:
df1['Price']

0     9.99
1     5.99
2        0
3     2.99
4     5.99
5     5.99
6        0
7     2.99
8     0.99
9     5.99
10    9.99
11    4.99
12    2.99
13    4.99
14       0
15    5.99
16       0
17    1.99
18    5.99
19    0.99
20    4.99
21    2.99
22    2.99
23    4.99
24    2.99
25    1.99
26    1.99
27       0
28    1.99
29    9.99
Name: Price, dtype: object